<div class="jumbotron">
    <div class="row">
        <h1 class="display-4">Here are your results of the past tests: </h1>
    </div>
    <hr class="my-4">
    <div *ngIf="results.length==0">
        <h1>You haven't taken any tests!</h1><br>
        <h2 class="lead">Take a test to view the result</h2>
    </div>
    <div class="row" *ngIf="results.length>0">
        <table mat-table [dataSource] = "results" class = "mat-elevation-z8"> 
            <ng-container matColumnDef = "testCode">
               <th mat-header-cell *matHeaderCellDef>Test Code</th>
               <td mat-cell *matCellDef = "let element"> {{element.testCode}} </td>
            </ng-container>
            <ng-container matColumnDef = "testName">
               <th mat-header-cell *matHeaderCellDef>Test Name</th>
               <td mat-cell *matCellDef = "let element"> {{element.testName}} </td>
            </ng-container>
            <ng-container matColumnDef = "dateTaken">
               <th mat-header-cell *matHeaderCellDef>Test Date</th>
               <td mat-cell *matCellDef = "let element"> {{element.dateTaken | date: 'dd-MM-yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef = "marksObtained">
               <th mat-header-cell *matHeaderCellDef>Marks Obtained</th>
               <td mat-cell *matCellDef = "let element"> {{element.marksObtained}} </td>
            </ng-container>
            <ng-container matColumnDef = "totalMarks">
               <th mat-header-cell *matHeaderCellDef>Total Marks</th>
              <td mat-cell *matCellDef = "let element"> {{element.totalMarks}} </td>
            </ng-container> 
            <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
            <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
