<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="display-4">Test</h1>
            <p class="lead">Test Code:- {{ test.testCode }}</p>
            <p class="lead">Test Title:- {{ test.testName }}</p>
        </div>
        <div class="col-sm-6">
            <h1 class="display-4">{{ timeRemaining }} minutes remaining</h1>
            <p class="lead">Test Duration:- {{ test.testDuration }} minutes</p>
            <p class="lead">Total Marks:- {{ test.testMarks }} marks</p>
        </div>
    </div>
    <hr class="my-4">
</div>
<form #TestForm="ngForm" (ngSubmit)="onSubmitTest(TestForm)">
    <div *ngFor="let question of questions| paginate: config;">
        <div class="badge badge-info">Question {{ config.currentPage }}</div>
        <h3 class="font-weight-normal">{{ config.currentPage }}.
            <span [innerHTML]="question.questionText"></span>
        </h3>
        <div class="row text-left options">
            <div class="col-6" *ngFor="let option of question.options; let j=index">
                <div class="option">
                    <label class="font-weight-normal">
                        <input value="{{option.optionNo}}" type="radio" name="{{question.questionId}}" [checked]="option.isSelected" (change)="onSelect(config.currentPage,j,option);" ngModel/> {{option.optionText}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    <button type="submit" class="btn btn-primary">Submit Test</button>
</form>