<div class="jumbotron">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="display-4">Welcome, {{ user.name }}!</h1>
        </div>
        <div class="col-sm-4">
            <p class="lead">{{ dateToday | date: "EEEE" }}</p>
            <p class="lead">{{ dateToday | date: "MMMM dd, y" }}</p>
            <p class="lead">{{ dateToday | date: "hh:mm:ss a" }}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <h1 class="display-4">Here are the upcoming tests:</h1>
    </div>
    <div *ngIf="tests.length==0">
        <h1 class="display-2">You don't have any tests!</h1>
    </div>
    <app-test-item *ngFor="let test of tests, let i=index" [test]="test" [index]="i"></app-test-item>
</div>