<body>
    <div id="login">
        <h1 class="text-center text-secondary pt-5">Welcome to Online Exam System</h1>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" (ngSubmit)="onLogIn(f)" #f=ngForm>
                            <h3 class="text-center">Login</h3>
                            <div class="form-group">
                                <input type="text" name="userid" id="userid" class="form-control" placeholder="User ID" [(ngModel)]="f.userid" #userid="ngModel" required minlength="12" maxlength="12"/>
                                <div *ngIf="userid.invalid && userid.touched">
                                    <span *ngIf="userid.errors.required" class="text-danger">User ID is required</span>
                                    <span *ngIf="userid.errors.minlength">User ID must contain 12 characters</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control" placeholder="Password" [(ngModel)]="f.password" #password="ngModel" required/>
                                <div *ngIf="password.invalid && password.touched">
                                    <span class="text-danger">Password is required</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-outline-dark btn-md btn-block" [disabled]="!f.valid">Log In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>