body {
    margin: 0;
    padding: 0;
    background-color: #45147e;
    height: 100vh;
 }
#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    border-radius: 25px;
    border: 1px solid #9C9C9C;
    background-color: rgb(26, 235, 172);
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -100px;
}