<div class="container m-5 border border-dark rounded">
    <div class="row p-3">
        <div class="col-xs-2 mr-5 p-2">
            <p class="lead">{{ test.testCode }}</p>
        </div>
        <div class="col-xs-4 p-2">
            <p class="lead">{{ test.testName }}</p>
        </div>
        <div class="col-xs-4 ml-auto p-2 mr-5">
            <p class="lead">{{ tdate | date: "MMMM dd, y" }}</p>
            <p class="lead">{{ tdate | date: "hh:mm a" }}</p>
        </div>
        <div class="col-xs-2 p-2">
            <button type="button" class="btn btn-primary" [disabled]="!allowTest" (click)="onTest()">Take test</button>
        </div>
    </div>
</div>