<div class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
        <a href="#" class="navbar-brand">Exam System</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navCollapse">
            <ul class="navbar-nav">
                <li  *ngIf="!testMode" routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="/home">Overview</a></li>
                <li  *ngIf="!testMode" routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="/results">Results</a></li>
            </ul>
            <ul *ngIf="!testMode" class="nav navbar-nav ml-auto">
              <li>
                  <a style="cursor: pointer;" class="btn btn-outline-light" (click)="onLogOut()">Log Out</a>
              </li>
            </ul>
        </div>
    </div>
</div>  